*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Logo{
  text-align: center;
  font-family: "Irish Grover", system-ui;
  font-size: 35px;
  color: black;
}

nav{
  width: 100%; 
  background-color: brown;
  display: flex; 
  align-items: center;
  flex-direction: row; 
  justify-content: space-evenly; 
  height: 7vh; 
  position: relative; 

}

 
nav ul{
  width: 100%;
  display: flex;
  list-style: none;
  flex-direction: row; 
  align-items: center;
  justify-content: center; 
} 

nav li a{
  padding: 8vh;
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: all;
  display: inline-block; 
} 

nav li:hover{
  scale: 1.5;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(165, 42, 42, 0.252);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter: blur(20px);
}

.sidebar li{
 width: 100%;
}

.sidebar a{
  width: 100%;
}

.menu-button{
  display: none;
}

@media(max-width: 1200px){
  .hideOnMobile{
    display: none;
  }

  .menu-button{
    display: block;
  }  
   
  nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end; 
  }
}

.background{
  width: 50%;
  height: 500px;
  background-image: url(images/uruguay.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;
}

.gallery{
  width: 900px;
  display: flex;
  overflow-x: scroll;
}

.gallery div{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}

.gallery div img{
  height: 220px;
  width: 100%;
  transition: transform 0.5s;
}

.gallery::-webkit-scrollbar{
  display: none;
}

#backBtn, #nextBtn{
  height: 30px;
  width: 30px;
  
}

.gallery div img:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.gallery-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
}

.text{
  padding-top: 5vw;
}

.text h2{
  font-size: 50px;
  font-family: "Lora", serif;
}

.text p{
  margin-top: 8vh;
  font-size: 25px;
  font-family: "Lora", serif;
}

button{
  background-color: brown;
  font-size: 25px;
  margin-top: 100px;
  text-decoration: none;
  border: none;
  color: whitesmoke;
  border-radius: 50px;
  width: 200px; 
  padding: 20px; 
  place-items: center;
  font-family: "Irish Grover", system-ui;
  font-weight: bold;
}

button a{
  text-decoration: none;
  color: aliceblue;
}

.menu{
  background-color: brown;
  color: aliceblue;
  text-align: center;

}

.foodcontainer{
  display:flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 140px;
  margin: 60px;
  padding: 2vw;
  font-size: 20px;
  font-family: "Lora", serif;
}

.foodcontainer img {
  height: 240px;
  padding-left: 60px;
  padding-right: 60px;
}

.container {
  background-color: brown;
  width: 90vw;
  margin: auto;
  border-radius: 20px;
  color:aliceblue;
  text-align: center;
  padding: 5vw;
}

.innercontainer { 
  width: 80%;
  margin: auto; 
  background-color: white;
  color: black;
  border-radius: 20px;
   
}

.container h1{
  font-family: "Irish Grover", system-ui;
  font-size: 50px;
}

.social-icon {
  height: 30px;
  width: 30px;
}

.social-icon-box {
  display: flex;
}


img{
  background-size: cover; 
  overflow: hidden;
  width: 100%;
  margin: 10px;
  border-radius: 30px;
}

.background-footer {
  background-color: brown;
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 160px;
}

.footer-link {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 50px;
  color: aliceblue;
  font-size: 18px;
}

@media (max-width:1200px){

  .Logo{
    text-align: center;
    font-family: "Irish Grover", system-ui;
    font-size: 25px;
    color: black;
  }

  .navbar{
    display: none;
  }

  .gallery div img{
    height: 100px;
    width: 80%;
    transition: transform 0.5s;
  }

  .gallery div{
    width: 100%;
    display: block;
    grid-template-columns: 10px 10px 10px;
    grid-gap: 10px;
    padding: 10px;
    flex: none;
  }

  .gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
  }

  .gallery{
    width: 200px;
    display: flex;
    overflow-x: scroll;
  }

  .background{
    width: 50%;
    height: 400px;
    background-image: url(images/uruguay.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    margin: none; 
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .text{
    padding-top: 10px;
  } 
  
  .text h2{
    font-size: 35px;
  }
  
  .text p{
    margin-top: 20px;
    font-size: 20px;
  } 


  button{
    background-color: brown;
    font-size: 18px;
    margin-top: 0px;
    text-decoration: none;
    border: none;
    color: whitesmoke;
    border-radius: 50px;
    width: 150px; 
    padding: 15px; 
    place-items: center;
    font-family: "Irish Grover", system-ui;
    font-weight: bold;
  }

  .menu{
    background-color: brown;
    color: aliceblue;
    text-align: center;
  }
  
  .foodcontainer{
    display: block;
    margin-bottom: 160px;
    margin: 3vw;
    padding: 2vw;
    font-size: 20px;
  }
  
  .foodcontainer img {
    height: 20vh;
    width: 40vw;
    padding-left: 60px;
    padding-right: 60px;
  }
  
  .container {
    background-color: brown;
    width: 90vw;
    margin: auto;
    border-radius: 20px;
    color:aliceblue;
    text-align: center;
    padding: 3vw;
  }

  .background-footer {
    background-color: brown;
    width: 100%;
    padding-left: 10vw;
    padding-right: 5vw;
    margin-top: 200px;
  }
  
  .footer-link {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    color: aliceblue;
    font-size: 18px;
  }

  .footer-link div {
    margin-bottom: 20px;
  }


}

@media (max-width:700px){

  .background{
    width: 50%;
    height: 400px;
    background-image: url(images/uruguay.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    margin: none; 
    margin-top: 50px;
    margin-bottom: 80vw;
  }
  
  .text{
    padding-top: none;
  }
  
  .text h2{
    font-size: 30px;
  }
  
  .text p{
    margin-top: 20px;
    font-size: 20px;
  }
  
  button{
    background-color: brown;
    font-size: 18px;
    margin-top: 0px;
    text-decoration: none;
    border: none;
    color: whitesmoke;
    border-radius: 50px;
    width: 150px; 
    padding: none; 
    place-items: center;
    font-family: "Irish Grover", system-ui;
    font-weight: bold;
  }

  .foodcontainer img {
    height: 20vh;
    width: 50vw;
    padding-left:10px;
    padding-right: 10px;
  }
}
